# Compiled class files
*.class

# Log files
*.log

# Android Studio / IntelliJ IDEA files
.gradle/
build/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

# Local configuration file (contains local paths, SDK paths, etc.)
local.properties

# Signing files
*.jks
*.keystore

# Built variants
*.apk
*.aar
*.jar
